.divForm{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    min-height:50vh;
    border: 1px solid yellow;
    padding-top: 20vh;
}
.divForm button {

    margin-top:10vh ;
    position:relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer
}