html{
  padding:0;
  margin:0;
  width:210vh;
}
:root{
  padding:0;
  margin:0;
  width: 100% ;
  background-color: gray;
  height:300vh;
}

body{
margin:0;
padding:0;
}






/* 
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 */



  /*{ font-family: system-ui;
  margin: 0;
  padding: 0
}

.dark {
  background-color: #212121;
  color: #fff
}

.light {
  background-color: #fff;
  color: #000
}

body {
  position: relative;
  padding-bottom: 130px;
  min-height: 85vh
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  color: blue;
  position: relative
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 32px
}

.navbar button {
  position: absolute;
  right: 50px;
  width: 50px;
  padding: 5px;
  background-color: #454545;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: #fff
}

.link:hover {
  text-decoration: underline
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  min-height: 72vh;
  justify-content: center
}

.container {
  max-width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none
}

.card {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.34);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.34);
  box-shadow: 0 0 5px #00000057;
  position: relative;
  background-color: #fff
}

.card__information {
  text-decoration: none;
  color: #000
}

.fav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 100%;
  background-color: #333
}

.id {
  position: absolute;
  top: 10px;
  left: 20px
}

.card:hover {
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer
}

.card p {
  text-align: center;
  padding: 0;
  margin: 0
}

.card img {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #aacede
}

.detail p {
  margin: 10px
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px
}

.title {
  margin-bottom: 30px
}

.form input,.form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10
}

.form button {
  font-weight: 600;
  background-color: #686868;
  color: #fff;
  cursor: pointer
}

.message {
  color: red
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0
}

.left {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 30px
}

.right {
  display: flex;
  gap: 10px;
  margin-right: 30px
}

.dh-logo {
  width: 200px
}

.icon {
  width: 30px
//} */ 