
.card{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:45vh;
    height:66vh;
    border: 1px solid black;
    margin-bottom: 2rem;
    margin-top:2rem;
}
.cardImg{
    width:100%;

}
.card p {
font-size:20px;
position:relative;
font-weight: bold;
}
.card button {
    width:15vh;
    height:3rem;
    border-radius:10px;
    position:relative;
    cursor:pointer;
}